<%= javascripts 'buyer/claims' %>
<% content_for :title, 'NEWJI | クレーム/不適合' %>
<% breadcrumb_add 'クレーム'%>
<% breadcrumb_add '不適合'%>

<% content_for :content_header do %>
<div class="card card--login">
  <div class="card-body login-card-body">
    <p class="login-head text-center">アイテムの商品コードを<span class="textbr">入力してください</span></p>
    <%# TODO:: Fix @claim %>
    <%= form_for @claim = Buyer.first, url: buyers_claim_input_path(claim_id: 1), method: 'post' do |f|%>
    <div class="input-group input-group--short mt-5 mb-4">
      <label for="form-nolabel-claim-code">
        <span>商品コード</span>
      </label>
      <input id="form-nolabel-claim-code" type="text" class="form-control form-control--ie" name="claim_item_code" placeholder="例）80001580" required>
    </div>
    <div class="input-group input-group--short mb-4">
      <label for="form-nolabel-claim-name">
        <span>名称</span>
        <small class="d-block d-sm-none"><span>※商品コードを入力すると自動で入力されます。</span></small>
      </label>
      <input id="form-nolabel-claim-name" type="text" class="form-control form-control--ie" placeholder="例）ふさかけオウルA ホワイト" value="商品コードを入力すると自動で入力されます。" name="claim-item-name" required>
    </div>

    <div class="row">
      <button type="submit" class="btn w-30 newji-btn--pink mt-4 w-60--sp">新規クレーム<span class="textbr">登録</span></button>
    </div>

    <p class="text-center mt-4 mb-4">
      または
    </p>

    <div class="row">
      <%= link_to buyers_claim_table_path(claim_id: 1), class: 'btn w-30 newji-btn--dark-blue w-60--sp' do %>
      過去のクレーム<span class="textbr">一覧を表示</span>
      <% end %>
    </div>
    <% end %>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
<% end %>