<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1>購入者になることに同意しますか</h1>
    <p>
      <%= link_to "同意する", @url%>
    </p>
  </body>
</html>