<% content_for :head do %>
  <%= stylesheet_link_tag 'home' %>
  <%= javascript_include_tag 'home' %>
<% end %>

<div class="container-user">
  <div class="contents">
    <div class="container-contents">
      <div id="show_calendar_contents">
        <%= render 'calendar/calendar_details' %>
      </div>
    </div>
  </div>

</div>
