<% content_for :title, 'NEWJI | マイカタログ' %>
<% breadcrumb_add 'マイカタログ' %>
<% content_for :content_header do %>
<div class="card my-5">
  <p class="breadcrumb-on-card">
    <%= link_to "Back", buyers_searchs_path %>
  </p>
  <div class="card-body">
    <h5 class="text-left my-catalog-head mt-3 mt-md-5 mb-3">
      アイテムを選択
    </h5>

    <div class="row">
      <% @item_requests.each do |item_request| %>
      <div class="col-md-3 col-sm-6 col-12 mb-1">
        <a href="item-info.html" class="card shadow-none border text-center category-item-content">
          <%= image_tag "img/3490284_s.jpg", alt:"アイテム画像", class:"bd-placeholder-img card-img-top object-fit-cover", width:"100%", height:"200" %>
          <h6 class="category-content__name"><%= item_request&.item_info.name%></h6>
          <h6 class="category-content__name--code"><small>商品コード：<%= item_request&.item_info.SKU %></small></h6>
        </a>
      </div>
      <% end %>
    </div>
    <!-- ページネーション  -->
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" disabled>前</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#" disabled>1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" role="button">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" role="button">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" role="button">次</a>
      </li>
    </ul>
    <!--
            <div class="row">
              <button type="submit" class="btn w-30 newji-btn--gray w-60--sp w-90--sp--450">アイテムを<span class="textbr">もっと表示</span></button>
            </div>
            -->
    <!-- /.login-card-body -->
  </div>
</div>
<%end%>