- content_for :head do
  = stylesheet_link_tag 'users/process_bar'
<div class="stepwizard">
  <div class="stepwizard-row">
    <div class="stepwizard-step">
      <p>情報</p>
      <div class="proces-bar"></div>
      <button type="button" class="btn btn-primary btn-circle">1</button>
    </div>
    <div class="stepwizard-step">
      <p>図面</p>
      <div class="proces-bar"></div>
      <button type="button" class="btn btn-primary btn-circle">2</button>
    </div>
    <div class="stepwizard-step">
      <p>画像</p>
      <div class="proces-bar"></div>
      <button type="button" class="btn btn-primary btn-circle">3</button>
    </div>
    <div class="stepwizard-step">
      <p>品質</p>
      <div class="proces-bar"></div>
      <button type="button" class="btn btn-primary btn-circle">4</button>
    </div>
    <div class="stepwizard-step">
      <p>基準</p>
      <div class="proces-bar"></div>
      <button type="button" class="btn btn-primary btn-circle">5</button>
    </div>
    <div class="stepwizard-step">
      <p>条件</p>
      <div class="proces-bar"></div>
      <button type="button" class="btn btn-primary btn-circle">6</button>
    </div>
    <div class="stepwizard-step">
      <p>サンプル</p>
      <div class="proces-bar"></div>
      <button type="button" class="btn btn-primary btn-circle">7</button>
    </div>
    <div class="stepwizard-step">
      <p>見積</p>
      <div class="proces-bar"></div>
      <button type="button" class="btn btn-primary btn-circle">8</button>
    </div>
    <div class="stepwizard-step">
      <p>原低</p>
      <div class="proces-bar"></div>
      <button type="button" class="btn btn-primary btn-circle">9</button>
    </div>
  </div>
</div>