- content_for :head do
  = stylesheet_link_tag 'users/status_inspect'
.container-user
  .header
  
  .content
    .title
      p
        | 信用調査の結果をお待ちください​
    .sub-contents
      .sub-title
        p
          | 信用調査結果がでたら​   
      svg height="500" width="1200" 
        circle cx="80" cy="80" fill="#f89b9c " r="50" 
        triangle cx="100" cy="200" fill="purple"
        text fill="black" x="40" y="180"  I love SVG!
        line style="stroke:#7d8ab4;" x1="130" x2="200" y1="80" y2="80" 
        line style="stroke:#7d8ab4;" x1="200" x2="200" y1="80" y2="200" 
        line style="stroke:#7d8ab4;" x1="300" x2="200" y1="200" y2="200" 
        polygon points="235,195 235,205 250,200" style="fill:#7d8ab4" 
        circle cx="300" cy="200" fill="#f89b9c " r="50" 
        text fill="black" x="260" y="300"  I love SVG!
        line style="stroke:#7d8ab4;" x1="350" x2="400" y1="200" y2="200" 
        line style="stroke:#7d8ab4;" x1="400" x2="400" y1="200" y2="80" 
        line style="stroke:#7d8ab4;" x1="400" x2="480" y1="80" y2="80"
        polygon points="455,75 455,85 470,80" style="fill:#7d8ab4" 
        circle cx="520" cy="80" fill="#f89b9c " r="50" 
        text fill="black" x="480" y="180"  I love SVG!
        line style="stroke:#7d8ab4;" x1="570" x2="650" y1="80" y2="80" 
        line style="stroke:#7d8ab4;" x1="650" x2="650" y1="80" y2="200" 
        line style="stroke:#7d8ab4;" x1="650" x2="730" y1="200" y2="200" 
        polygon points="705,195 705,205 720,200" style="fill:#7d8ab4"
        circle cx="770" cy="200" fill="#f89b9c " r="50" 
        text fill="black" x="730" y="300"  I love SVG!
        line style="stroke:#7d8ab4;" x1="820" x2="890" y1="200" y2="200" 
        line style="stroke:#7d8ab4;" x1="890" x2="890" y1="200" y2="80" 
        line style="stroke:#7d8ab4;" x1="890" x2="970" y1="80" y2="80"
        polygon points="935,75 935,85 950,80" style="fill:#7d8ab4"  
        circle cx="1000" cy="80" fill="#f89b9c " r="50" 
        text fill="black" x="970" y="180"  I love SVG!
    .group-button
      .button
        a href="#" 
          button#btn-1.btn トップへもどる​
        
.fixed-footer
  .container Copyright © 2016 Your Company
