- content_for :head do
  = stylesheet_link_tag 'users/status_inspect'
.container-user
  .header
  
  .content
    .title
      p
        | 信用調査の結果をお待ちください​
    .sub-contents
      .sub-title
        p
          | 信用調査結果がでたら​   
      svg height="500" width="1200" 
        circle cx="80" cy="80" fill="#f89b9c " r="50"
        rect[width="170" height="50" x="10" y="140" style="fill:white"]
        text[x="18" y="155" fill="black" font-size="13"]
          | 信用調査の結果がご登録の​
        text[x="18" y="175" fill="black" font-size="13"]
          | メールアドレスに届きます​
        line style="stroke:#7d8ab4;" x1="130" x2="200" y1="80" y2="80" 
        line style="stroke:#7d8ab4;" x1="200" x2="200" y1="80" y2="200" 
        line style="stroke:#7d8ab4;" x1="300" x2="200" y1="200" y2="200" 
        polygon points="235,195 235,205 250,200" style="fill:#7d8ab4" 
        circle cx="300" cy="200" fill="#f89b9c " r="50"
        rect[width="170" height="50" x="210" y="260" style="fill:white"]
        text[x="220" y="275" fill="black" font-size="13"]
          | メールアドレスに記載され
        text[x="220" y="295" fill="black" font-size="13"]
          | ているURLをクリック
        line style="stroke:#7d8ab4;" x1="350" x2="400" y1="200" y2="200" 
        line style="stroke:#7d8ab4;" x1="400" x2="400" y1="200" y2="80" 
        line style="stroke:#7d8ab4;" x1="400" x2="480" y1="80" y2="80"
        polygon points="455,75 455,85 470,80" style="fill:#7d8ab4" 
        circle cx="520" cy="80" fill="#f89b9c " r="50" 
        rect[width="170" height="50" x="430" y="140" style="fill:white"]
        text[x="455" y="170" fill="black" font-size="13"]
          | サプライヤーを選択​
        
        line style="stroke:#7d8ab4;" x1="570" x2="650" y1="80" y2="80" 
        line style="stroke:#7d8ab4;" x1="650" x2="650" y1="80" y2="200" 
        line style="stroke:#7d8ab4;" x1="650" x2="730" y1="200" y2="200" 
        polygon points="705,195 705,205 720,200" style="fill:#7d8ab4"
        circle cx="770" cy="200" fill="#f89b9c " r="50" 
        rect[width="170" height="50" x="680" y="260" style="fill:white"]
        text[x="725" y="287" fill="black" font-size="13"]
          | 秘密保持契約​
        
        line style="stroke:#7d8ab4;" x1="820" x2="890" y1="200" y2="200" 
        line style="stroke:#7d8ab4;" x1="890" x2="890" y1="200" y2="80" 
        line style="stroke:#7d8ab4;" x1="890" x2="970" y1="80" y2="80"
        polygon points="935,75 935,85 950,80" style="fill:#7d8ab4"  
        circle cx="1000" cy="80" fill="#f89b9c " r="50" 
        rect[width="170" height="50" x="910" y="140" style="fill:white"]
        text[x="950" y="170" fill="black" font-size="13"]
          | アイテム登録​
        
    .group-button
      .button
        a href="#{buyers_home_index_path}" 
          button#btn-1.btn トップへもどる​
        
