<%= javascripts 'buyer/searchs' %>
<% content_for :content_header do %>
<div class="mt-4">
  <%= search_form_for @q, url:buyers_searchs_path do |f| %>
  <div class="input-group">
    <%= f.text_field :status_cont, class: "form-control form-control-navbar form-control--ie", placeholder: "〇〇、〇〇などで検索", id:"newji-serch" %><br>
    <div class="input-group-append">
      <%= f.submit '検索', class: "sbtn5" %>
    </div>
  </div>
  <% end %>
</div>
<% end %>