.content-table-title
  text-align: center
  padding-bottom: 20px
.main
  width: 90%
  margin: auto
  padding-bottom: 50px
.border-content
  width: 100%
  background: #dae3f3
.content-table
  display: flex
  padding: 15px
  
.description-zone
  width: 20%
  background-color: #8faadc
.infos
  width: 80%
  padding-left: 15px
.title
  background: white
.title-flex
  display: flex
  padding: 5px 15px
  align-items: center
.input-label
  background-color: #fe0e00
  width: 60px
  height: 35px
  border-radius: 10px
  font-size: 1em
  text-align: center
  color: #ffffff
  opacity: 80%
  padding: 6px
.text
  padding-left: 15px
.title-2
  padding: 50px 0
  text-align: center
.group-button
  padding: 30px 0px 60px 0
  display: flex
  text-align: center
  .btn
    width: 70%
    height: 50px
    border-radius: 0
  .btn-red
    background: #fa1f6c
    border-color: #fa1f6c
  .btn-warning
    background: #ffe699
    border-color: #ffe699
.continue-btn
  text-align: center
  padding: 30px 0
  .btn
    border-radius: 0
    width: 33%
    height: 50px
    background: #92d050
    border-color: #92d050
@media screen and ( max-width: 1025px )
  .group-button
    padding: 0px 0px 60px 0
  
