.container-user
  display: flex
  position: relative
  height: 100%
.contents
  width: 100%
  box-sizing: border-box
.main
  margin: 0 5%
  width: 90%
  height: 80%
.content-table-title
  text-align: center
  font-size: 1em
  margin-bottom: 5px
  margin-top: 30px
.content-table
  display: flex
  background-color: #dae3f3
  position: relative
  height: 95%
.description-zone
  width: 20%
  height: auto
  padding: 1.2%
.description
  background-color: #8faadc
  height: 100%
.images
  position: relative
  width: 80%
  height: 100%
  padding: 1.2%
.image-input-head
  background-color: #ffffff
  text-align: center
  height: 40px
  line-height: 3
.design-input-head
  background-color: #ffffff
  text-align: center
  height: 50px
  line-height: 3
.image-require-label
  width: 60px
  height: 30px
  background-color: #fe0e00
  line-height: 2
  margin-top: 4px
  position: absolute
  border-radius: 15%
  color: #ffffff
.image-input-content
  padding: 0
.image-content-hint
  height: 50%
  margin-top: 15px
  label
    margin-top: 60px
.design-input-head
  margin-top: 15px
.image-upload-button
  margin-top: 15px
  .btn
    width: 300px
    height: 50px
    background-color: #b4c7e8
.continue-btn
  padding: 40px 0
  text-align: center
  button
    background-color: #92cf50
    width: 417px
    height: 56px
    border: 0

.dropzone .dz-message
  text-align: center
  margin: 2em auto
  
.dropzone
  border: none
  min-height: 0
  background-color: #fff7b0
  margin-top: 15px
  border-radius: 15px

.dz-message
  width: 210px
  height: 50px
  background-color: #b4c7e8
  padding: 15px

.dz-progress
  opacity: 0 !important

.dropzone .dz-preview.dz-image-preview
  background-color: transparent !important

.dropzone-file-uploaded, .check-unaccepted-file, .dropzone-no-file-upload
  display: none
  text-align: center

.dropzone .dz-message
  margin: 1.5em auto
.dz-message
  height: 45px
  padding: 12px

.drop-drag-hint-text
  padding-top: 15px
  padding-bottom: 15px 
  text-align: center
@media screen and ( max-width: 1650px )
  .content-table-title
    margin-top: 20px
  .image-input-head 
    height: 33px
    line-height: 2.5
  .image-require-label
    height: 27px
    margin-top: 3px
  .design-input-head
    height: 33px
    line-height: 2.5
  .dropzone
    padding: 10px 10px
  .continue-btn
    padding: 25px 0
    button
      width: 368px
      height: 44px
  .drop-drag-hint-text
    padding-top: 5px
    padding-bottom: 5px 
@media screen and ( max-width: 1400px )

@media screen and ( max-width: 1280px  )
  .main
    font-size: 14px
  .dropzone
    padding: 1px 1px
  .drop-drag-hint-text
    padding-top: 0
    padding-bottom: 0 
  .continue-btn
    button
      width: 266px
      height: 36px
@media screen and ( max-width: 1024px  )
  .continue-btn
    button
      width: 211px