.container-user
  display: flex
  position: relative
  height: 100%
.contents
  display: flex
  width: 100%
  height: 95%
  box-sizing: border-box
.process-head
  position: relative
  width: 90%
  height: 80px
  margin-top: 2%
  margin-left: 5%
  margin-right: 5%
  margin-bottom: 3%
.main
  margin: 0 5%
  width: 90%
  height: 90%
.content-table-title
  text-align: center
  font-size: 1em
.mobile-process-title
  display: none
  height: 5%
  text-align: center
  font-size: 1em
.content-table
  background-color: #dae3f3
  position: relative
  height: 600px
.description-zone
  float: left
  width: 20%
  height: 100%
  padding: 1.2%
.description
  background-color: #8faadc
  height: 100%
.drawings
  position: relative
  display: flex
  float: right
  width: 80%
  height: 100%
  padding: 1.2%
.drawing
  position: relative
  display: table
  width: 100%
  height: 40%
  margin: 6.5px
.drawings-2d-title
  background-color: #ffffff
  text-align: center
  height: 15%
  line-height: 3
.drawing-inner
  position: relative
  display: flex
.drawing-item
  position: relative
  width: 30%
  height: 188px
  display: flex
  text-align: center
  margin: 27px
.drawing-head
  position: absolute
  width: 100%
  height: 25%
  line-height: 3
.drawing-require-label
  width: 20%
  background-color: #fe0e00
  line-height: 2
  height: 60%
  margin-top: 11px
  position: absolute
  border-radius: 15%
  color: #ffffff
.drawing-content
  background-color: #fff7b0
  margin-top: 18%
  border-radius: 20px
.drawing-content-hint
  margin-top: 5%
.drawing-upload-button
  // margin-top: 15px
  input
    width: 210px
    height: 50px
    background-color: #b4c7e8
.continue-btn
  width: 30%
  height: 8%
  margin: 2% 35% 0 35%
  position: relative
  font-size: 1em
  button
    background-color: #92cf50
    width: 100%
    height: 100%
    position: absolute
@media screen and ( max-width: 1650px  )
  .drawing
    width: 80%
  .drawing-title-label
    margin-left: 20px
@media screen and ( max-width: 1400px  )
  .drawing-item
    margin: 10px
  .drawings-2d-title
    width: 90%
@media screen and ( max-width: 1300px  )
  .drawing-head
    width: 120%
  .drawings-2d-title
    width: 90%
    margin-left: 4%
  .drawing-inner
    width: 93%
  .drawing-require-label
    width: 40px
  .drawing-title-label
    margin-left: 20px
  .drawing-content
    margin-top: 25%
  // margin-right: 15px
  .drawing-content-hint
    width: 92%
    margin-left: 5%
  .drawing-upload-button input
    width: 95%
@media screen and ( max-width: 1024px  )
  .main
    margin: 0 1%
    width: 100%
    // font-size: .8em
  .container
    margin: 0
  .drawing
    margin-left: 0
    margin-right: 0
  // .drawing-head
  //   width: 120%
  // .drawings-2d-title
  //   width: 90%
  //   margin-left: 4%
  // .drawing-inner
  //   width: 93%
  // .drawing-require-label
  //   width: 40px
  // .drawing-title-label
  //   margin-left: 20px
  // .drawing-content
  //   margin-top: 25%
  // // margin-right: 15px
  // .drawing-content-hint
  //   width: 70%
  // .drawing-upload-button input
  //   width: 95%
  .process-head
    margin-left: 0

// @media screen and ( max-width: 1282px  )
//   .drawings
//     width: 70%
//   .description-zone
//     width: 30%
//   .content-table-title
//     font-size: 1.2em
//   .input-label
//     font-size: 1.2em
//   .info-input
//     font-size: 1.2em
//   .continue-btn
//     font-size: 1.2em
// @media screen and ( max-width: 1024px  )
//   .process-head
//     width: 70%
//     margin-left: 6%
//   .content-table-title
//     font-size: 0.9em
//   .input-label
//     font-size: 0.9em
//   .info-input
//     font-size: 0.9em
//   .continue-btn
//     font-size: 0.9em
// @media screen and ( max-width: 770px  )
//   .content-table-title
//     font-size: 1em
//   .description-zone
//     width: 100%
//     height: 20%
//   .infos
//     width: 100%
//     height: 70%
//   .info
//     height: 12%
//   .info-input
//     font-size: 0.8em
//   .input-label
//     width: 15%
//     height: 70%
//     label
//       margin-bottom: 2.5em
// @media screen and ( max-width: 415px  )
//   .content-table
//     height: 77%
