.btn-red-condition
  background: red !important
.add-condition
  background: red
  font-size: 30px
  border-radius: 50px
  height: 40px
  width: 40px
  line-height: 26px
  padding: 6px
  color: #dae3f3
.links
  text-align: center
.remove-condition
  color: red
  position: absolute
  left: 0
.nested-fields
  .title
    position: relative
    padding-bottom: 15px

.input-condition
  width: 100%
  border: none
  background: #f5e2d6
  height: 35px
  padding-left: 10%
.p-1
  background-color: white

.bi-plus-circle-fill
  margin-left: 45%
  color: red

.label-for-tag
  background-color: #f89d9e
  margin-right: 15px
  border-radius: 5px
  width: 60px
  text-align: center

.custom-content
  overflow: auto
