.modal-body
  text-align: center
  .title-modal
    font-weight: 600
.modal-footer
  padding: 0
  justify-content: end
  .btn
    width: 100%
    background: #fff
  .submit-modal-pro
    margin: 0
    width: 50%
    .btn-modal-pro
      border-right: 1px solid #e9ecef
.modal-content
  margin-left: 100px
  margin-top: 435px
.title-quotation
  background: #fafafa
  padding: 7px
  padding-left: 12%
.loading-bar
  display: none
  position: fixed
  z-index: 1000
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-size: 100px 100px
  background-image: url(asset_path("Loading.gif"))
  background-position: 1000px 400px
  background-repeat: no-repeat
body.loading
  overflow: hidden
body.loading
  .loading-bar
    display: block

.confirm
  height: 50px
  padding: 7px
  padding-left: 20px
  background: #8faadc
  width: 350px
  margin: auto
  display: flex
.input-label
  background-color: #fe0e00
  width: 60px
  border-radius: 10px
  font-size: 1em
  text-align: center
  color: #ffffff
  opacity: 80%
  padding: 6px
.content-quotatiton
  height: 90%
  align-items: center
.text
  padding: 7px
  padding-left: 25px
.loqo-item
  justify-content: center
  align-items: center
  font-size: 18px
  color: red
  display: flex
  padding-left: 0
  height: 100%
  .logo-quotation
    padding-top: 20px
    width: 100%
    height: 400px
@media screen and ( max-width: 1280px  )
  .confirm
    width: 100%
  .content-table-title
    font-size: 1em
  .input-label
    font-size: 1em
  .info-input
    font-size: 1em
  .continue-btn
    font-size: 1em
  .loading-bar
    background-position: 700px 300px
@media screen and ( max-width: 1450px )
  .loqo-item .logo-quotation
    height: auto
@media screen and ( max-width:1366px  )
  .loading-bar
    background-position: 700px 350px
@media screen and ( max-width:1024px  )
  .loading-bar
    background-position: 600px 350px
@media screen and ( max-width: 1300px )
  .loqo-item .logo-quotation
    padding: 30px 0

@media screen and ( max-width: 1024px  )
  .confirm
    padding-left: 7px
    height: 45px
  .input-label
    background-color: #fe0e00
    width: 45px
  .text
    padding: 4px 4px 4px 7px
  .loqo-item
    padding-right: 0
  .process-head
    width: 70%
    margin-left: 6%
  .content-table-title
    font-size: 0.9em
  .input-label
    font-size: 0.9em
  .info-input
    font-size: 0.9em
  .continue-btn
    font-size: 0.9em
@media screen and ( max-width: 770px  )
  .content-table-title
    font-size: 1em
  .description-zone
    width: 100%
    height: 20%
  .infos
    width: 100%
    height: 70%
  .info
    height: 12%
  .info-input
    font-size: 0.8em
  .input-label
    width: 15%
    height: 70%
    label
      margin-bottom: 2.5em
@media screen and ( max-width: 415px  )
  .content-table
    height: 77%
