.logo-supplier {
  height: 22px;
  width: 22px;
}

div.list_name {
  z-index: 1;
  background-color: #fff;
  position: absolute;
  width: 55%;
  border-radius: 10px;
}

.list_name:hover {
    background-color: #f2f2f2;
}

.email-user {
    border-top: 1px solid #f5e2d6;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.email-user:hover {
  background: #f5e2d6;
  border-radius: 10px;
}

input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;

  /* Now your own custom styles */
   height: 14px;
   width: 14px;
   display: block;
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
  /* setup all the background tweaks for our custom icon */
  background-repeat: no-repeat;

  /* icon size */
  background-size: 14px;

}

