<div class="container-user">
  <div class="contents">
    <div class="container-contents">
      <div id="show_calendar_contents">
        <%= render 'home/calendar_details' %>
      </div>
    </div>
  </div>

</div>
