<% content_for :head do %>
  <%= stylesheet_link_tag 'home' %>
  <%= javascript_include_tag 'home' %>
<% end %>

<div class="container-user">
	<div class="header">
	</div>

	<%= render 'layouts/left_menu' %>

  <div class="contents">
    <div class="container-contents">
      <div id="show_calendar_contents">
        <%= render 'home/calendar_details' %>
      </div>
    </div>
  </div>

  <div class="fixed-footer">
    <div class="container">Copyright &copy; 2020 Your Company</div>
   </div>
</div>
