.iconcolorBlack {color:rgba(0.1, 0.1, 0.1, 1);}
.iconcolorWhite {color:white;}
.iconcolorRed {color:#e66d5e;}
.iconcolorBlue {color:blue;}
.iconcolorYellow {color:yellow;}
.iconcolorGreen {color:green;}
.iconcolorCyan {color:cyan;}
