.supplier-form
  background-color: #f89b9c
  width: 50%
  height: 350px
  padding-left: 20px
  padding-right: 20px
  font-size: medium
  padding-top: 20px
  padding-bottom: 30px

p
  padding-bottom: 10px

.text-form
  padding-bottom: 25px

.button-register
  text-align: center
  padding-top: 50px

button
  background-color: #92d066
  color: black

.newJi
  padding-top: 20px
  margin-left: 20%

.title
  margin-left: 20%
  padding-bottom: 20px

.content
  margin-top: 10%
  margin-left: 30%
  min-height: 100vh

@media screen and (max-width: 1280px)
  .supplier-form
    background-color: #f89b9c
    margin-left: 15%
    margin-right: 15%
    height: auto
    width: auto
    font-size: medium
    padding-top: 20px
    padding-bottom: 30px

  p
    padding-bottom: 10px

  .text-form
    padding-bottom: 25px

  .button-register
    text-align: center
    padding-top: 50px b

  button
    background-color: #92d066
    color: black

  .newJi
    padding-top: 20px
    text-align: center
    margin-left: 0

  .title
    text-align: center
    padding-bottom: 20px
    margin-left: 0

  .content
    margin-top: 10%
    margin-left: 0

@media screen and (max-width: 770px)
  .supplier-form
    background-color: #f89b9c
    width: 80%
    height: auto
    padding-left: 10px
    font-size: medium
    padding-top: 20px
    padding-bottom: 30px
    margin-left: 11%

  p
    padding-bottom: 10px

  .text-form
    padding-bottom: 25px

  .button-register
    text-align: center
    padding-top: 50px b

  button
    background-color: #92d066
    color: black

  .newJi
    padding-top: 20px
    text-align: center
    margin-left: 0

  .title
    text-align: center
    padding-bottom: 20px
    margin-left: 0

  .content
    margin-top: 10%
    margin-left: unset
