<!-- モーダル -->
<div class="modal fade" id="modal-default2">
  <div class="modal-dialog modal-default">
    <div class="modal-content">
      <div class="modal-header align-items-center modal-header--ordering">
        <h6 class="modal-title choose-modal-title">孫カテゴリー名: <%= grandchild_catalog.name %></h6>
        <button type="reset" class="close" role="button" data-target="#modal-default2" data-toggle="modal">
          <span class="align-middle" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-center pt-3">何をしますか？</h5>
        <div class="w-100 flex text-center mt-3">
          <button type="button" class="btn w-30 newji-btn--blue w-45--sp--450 edit-grandchild-catalog" role="button" data-target="#modal-default2--category-change" data-toggle="modal">名称変更</button>
          <button type="button" class="btn w-30 newji-btn--pink w-45--sp--450 delete-grandchild-catalog" role="button" data-target="#modal-default2--category-delete" data-toggle="modal">削除する</button>
        </div>
      </div>
      <div class="modal-footer justify-content-between modal-footer--ordering">
        <button type="reset" class="btn btn-default" role="button" data-target="#modal-default2" data-toggle="modal">閉じる</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>