
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 0.0.1
  </div>
  <strong>Copyright &copy; 2020 <a href="https://github.com/neume">Newji</a>.</strong> All rights
  reserved.
</footer>
