<%= stylesheet_link_tag 'templates/left_menu' %>
<%= javascript_include_tag 'buyer/home', 'buyer/menu' %>

<div class="left-menu">
  <nav class="menu">
    <ul>
      <li>
        <div>
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text lef-menu-name-app">NEWJI</span>
        </div>
        <div>
          <a id="closeNav" href="javascript:void(0)">
            <i class="fa fa-bars" id="btn-toggle-left-menu"></i>
          </a>
        </div>
      </li>

      <div id="datepicker-left-menu"></div>

      <li class="has-subnav">
        <a href="<%= register_item_buyers_path %>">
          <span class="nav-text">
            アイテム登録​
          </span>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <span class="nav-text">
            受発注​
          </span>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <span class="nav-text">
            クレーム​
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-text">
            サンプル​
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-text">
            取引先​
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-text">
            マイカタログ​
          </span>
        </a>
      </li>

      <div class="row parent-of-block-btn">
        <div class="col-md mr-3 bor-buttom">
          <a href="#">
            <span class="nav-text">
              品質
            </span>
          </a>
        </div>
        <div class="col-md bor-buttom">
          <a href="#">
            <span class="nav-text">
              コスト
            </span>
          </a>
        </div>
      </div>

      <div class="row parent-of-block-btn">
        <div class="col-md mr-3 bor-buttom">
          <a href="#">
            <span class="nav-text">
              納期
            </span>
          </a>
        </div>
        <div class="col-md bor-buttom">
          <a href="#">
            <span class="nav-text">
              書類
            </span>
          </a>
        </div>
      </div>
      <div class="invite-button">
        <a href= "/buyers/invite_unregisted_supplier">
          <button class="btn" style="background-color:black">
            <p style="color: white">NEWJIに招待​</p>
          </button>
        </a>
      </div>
    </ul>
  </nav>
</div>
