<nav class="main-header navbar navbar-expand navbar-blak header-blue-primary">
  <a class="nav-link js-click-a" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Messages Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-chart-bar n-circle" title="データ"></i>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#" title="ヘルプ">
        <i class="fas fa-question n-circle n-padding"></i>
      </a>
    </li>
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#" title="設定">
        <i class="fas fa-cog n-circle"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="dropdown" href="#" title="マイページ">
        <%= image_tag 'img/user2-160x160.jpg', class: 'img-circle my-page-img', alt: 'User Image' %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link--last" data-widget="control-sidebar" data-slide="true" href="#" role="button" title="カスタマイズ">
        <i class="fas fa-th-large"></i>
      </a>
    </li>
  </ul>
</nav>
