<aside class="main-sidebar sidebar-blue-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <div class="d-flex w-100">
          <%= image_tag 'img/NEWJI_002_haikei.png', class: 'brand-image border-wite', alt: 'NEWJIロゴ' %>
        </div>
      </a>
      <!-- Sidebar user panel (optional) -->
      <!--
        <div class="user-panel mt-3 pb-3 d-flex border-bottom">
          <div class="center js-center"></div>
          <div class="image">
            <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">山本　順貴</a>
          </div>
        </div>
      -->
      <!--ここにカレンダー挿入-->

       <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <%= link_to buyers_home_index_path, class: "nav-link w-100 #{'active' if request.url.include?('buyers/home')}" do %>
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                ホーム
                <i class="fas fa-angle-right right"></i>
              </p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to register_item_buyers_url, class: "nav-link w-100 #{'active' if request.url.include?('buyers/register_item')}" do %>
              <i class="nav-icon fas fa-gem"></i>
              <p>
                アイテム登録
                <i class="fas fa-angle-right right" ></i>
              </p>
            <% end %>
          </li>
          <li class="nav-item">
            <a href="pages/my-catalog.html" class="nav-link w-100">
              <i class="nav-icon fas fa-list-alt"></i>
              <p>
                マイカタログ
                <i class="fas fa-angle-right right"></i>
                <span class="badge badge-info right">6</span>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="pages/ordering.html" class="nav-link w-100">
              <i class="nav-icon fas fa-truck-moving"></i>
              <p>
                受発注
                <i class="right fas fa-angle-right"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="pages/claim-top.html" class="nav-link w-100">
              <i class="nav-icon fas fa-bullhorn"></i>
              <p>
                クレーム/不適合
                <i class="fas fa-angle-right right"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="pages/sample-choose.html" class="nav-link w-100">
              <i class="nav-icon fas fa-book"></i>
              <p>
                サンプル/見本
                <i class="fas fa-angle-right right"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="pages/company-top.html" class="nav-link w-100">
              <i class="nav-icon fas fa-handshake"></i>
              <p>
                取引先
                <i class="fas fa-angle-right right"></i>
              </p>
            </a>
          </li>
          <!--カレンダーリンク-->
          <li class="nav-item">
            <a href="pages/calendar.html" class="nav-link w-100">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                カレンダー
                <i class="fas fa-angle-right right"></i>
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
          <!--
          <li class="nav-item">
            <a href="#" class="nav-link w-100">
              <i class="nav-icon fas fa-book"></i>
              <p class="en">
                QCDS
              </p>
              <i class="fas fa-angle-right right"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/quarity-top.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>品質</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/cost-top.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>コスト</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/delivery-date-top.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>納期</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/support-top.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>サポート</p>
                </a>
              </li>
            </ul>
          </li>
        -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
