<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="<%= 'active' if controller_name == 'dashboard' %>">
        <a href="<%= admins_root_path %>">
          <i class="fa fa-dashboard"></i>
          <span>ダッシュボード</span>
        </a>
      </li>
      <li class="header">SETTINGS</li>
      <li>
        <%#= link_to destroy_admin_session_path, method: :delete, data: { confirm: 'ログアウトしてもよろしいですか?' } do %>
          <a><i class="fa fa-sign-out"></i> <span>ログアウト</span></a>
        <%# end %>
      </li>
    </ul>
  </section>
</aside>

